 <div class="menu-header">
    <button (click)="openLogin()" id="button-login">Sign In</button>
    <app-auto-dropdown id="button-pet-owner">
        <div trigger>Pet Owner</div>
        <div content>
            <span mat-menu-item [routerLink] = "['/pet-owner-bids']">Bids</span>
            <span mat-menu-item>Summary</span>
        </div>
    </app-auto-dropdown>
    <app-auto-dropdown id="button-caretaker">
        <div trigger>Care Taker</div>
        <div content>
            <span mat-menu-item [routerLink] = "['/caretaker-bids']">Bids</span>
            <span mat-menu-item>Declare Leave</span>
            <span mat-menu-item>Summary</span>
        </div>
    </app-auto-dropdown>
    <div id="button-find-caretakers" [routerLink] = "['/caretaker-availabilities']">Find CareTakers</div>
</div>



