 <div class="menu-header">
    <div id="button-home" [routerLink] = "['']">Home</div>
    <div *ngIf="!isLogged; else elseBlock" id="button-login">
        <button (click)="openLogin()">Sign In</button>
    </div>
    <ng-template #elseBlock>
        <button (click)="logout()" id="button-login">Logout</button>
    </ng-template>
    <app-auto-dropdown id="button-pet-owner">
        <div trigger>Pet Owner</div>
        <div content>
            <span mat-menu-item [routerLink] = "['/petowner/bids']">Bids</span>
            <span mat-menu-item [routerLink] = "['/petowner/summary']">Summary</span>
        </div>
    </app-auto-dropdown>
    <app-auto-dropdown id="button-caretaker">
        <div trigger>Caretaker</div>
        <div content>
            <span mat-menu-item [routerLink] = "['/caretaker/summary']">Summary</span>
        </div>
    </app-auto-dropdown>
    <app-auto-dropdown id="button-admin">
        <div trigger>Admin</div>
        <div content>
            <span mat-menu-item [routerLink] = "['/admin/manage']">Manage Users</span>
            <span mat-menu-item>Stats</span>
        </div>
    </app-auto-dropdown>
    <div id="button-forum" [routerLink] = "['/forum']">Forum</div>
    <div id="button-find-caretakers" [routerLink] = "['/caretaker-availabilities']">Find Caretakers</div>
</div>

