.content {
  background-color: #1e77aa;
  height: 95vh;
  width: 100%;
}

.column-left {
  width: 32%;
  padding-top: 2%;
  padding-left: 21%;
  padding-right: 2%;
  float: left;
  word-wrap: break-word;
}

.column-right {
  padding-top: 2%;
  float: left;
  border-radius: 10px;
}

.form {
  border-style: solid;
  padding: 25px;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
}

.caretaker-details {
  border-style: solid;
  padding: 25px;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
}

.remove-button {
  width: 100%;
  background-color: #eb756c;
  border: none;
  color: white;
}

.save-button {
  width: 100%;
  background-color: #5eda62;
  border: none;
  color: white;
}

.remove-button:hover {
  background-color: #e6e47e !important;
  color: black;
}

.save-button:hover {
  background-color: #e6e47e !important;
  color: black;
}

.petowner-details {
  border-style: solid;
  padding: 25px;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
  float: left;
  margin-left: 23%;
  margin-top: 2%;
}

textarea {
    vertical-align: text-top;
    width: 100%;
    height: 150px;
}

table {
    border-collapse: collapse;
}


td, th {
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input.ng-invalid {
    border: 5px solid red;
}