<div>
    <h3>{{caretaker.name}}</h3>
    <h3>Rating: {{caretaker.rating}}</h3>
    <h3>{{caretaker.type}}</h3>
</div>

<div class="column-center">
    <h2>Availability</h2>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>

<div class="column-right">
    <div *ngIf="isLogged; else elseBlock">
        <form class="form" [formGroup]="bidForm" (ngSubmit)="onSubmit(bidForm)">
            <p>Choose the dates by clicking and dragging on the calendar</p>
            <p>You have chosen: {{bidForm.get('dateFrom').value}} - {{bidForm.get('dateTo').value}}</p>
            <p><label>Choose which pet: </label>
            <select type="text" formControlName="petName">
                <option></option>
                <option *ngFor="let pet of pets">
                    {{ pet.pet_name }}
                </option>
            </select></p>

            <p><label>Transfer Type: </label>
            <select type="text" formControlName="transferType">
                <option></option>
                <option>I deliver</option>
                <option>Caretaker pick up</option>
                <option>Transfer through physical building of PCS</option>
            </select></p>

            <p><label>Payment Type: </label>
            <select type="text" formControlName="paymentType">
                <option></option>
                <option>Cash</option>
                <option>Credit Card</option>
            </select></p>

            <button class="button" type="submit" [disabled] = "!bidForm.valid">Submit</button>
        </form>
    </div>
    <ng-template #elseBlock>
        <h2>Please Login to bid</h2>
    </ng-template>
</div>