<div>
    <h3>{{caretaker.name}}</h3>
    <h3>Rating: {{caretaker.rating}}</h3>
    <h3>{{caretaker.type}}</h3>
</div>

<div class="column-center">
    <h2>Availability</h2>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>

<div class="column-right">
    <form class="form" [formGroup]="bidForm" (ngSubmit)="onSubmit(bidForm.value)">

        <div class="text-bar">
            <p><label>Type of Pet:</label></p>
            <p><input type="text" formControlName="petType"></p>
        </div>

        <p>{{bidForm.get('dateFrom').value}}</p>
        <p>{{bidForm.get('dateTo').value}}</p>

        <button class="button" type="submit">Search</button>
    </form>
</div>