<div class="content">
    <div class="column-left">
        <form class="form" [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">

            <div class="text-bar">
              <p><label>Search For Caretaker:</label></p>
              <p> <input type="text" formControlName="search"></p>
            </div>

            <div class="text-bar" style="float:left; margin-right:10px;">
              <p><label>Date From:</label></p>
              <p><input type="date" formControlName="dateFrom"></p>
            </div>

            <div class="text-bar">
              <p><label>Date To:</label></p>
              <p><input type="date" formControlName="dateTo"></p>
            </div>

            <div class="text-bar">
              <p><label>Type of Pet:</label></p>
              <p><input type="text" formControlName="petType"></p>
            </div>

            <div class="text-bar" style="float:left; margin-right:5px;">
              <p><label>Price From:</label></p>
              <p><input style="margin-right:10px" type="text" formControlName="priceFrom"></p>
            </div>

            <div class="text-bar">
              <p><label>Price To:</label></p>
              <p><input style="margin-right:10px" type="text" formControlName="priceTo"></p>
            </div>

            <div class="text-bar">
              <p><label>Minimum Rating:</label></p>
              <p><input type="text" formControlName="minRating"></p>
            </div>

            <button class="button" type="submit">Search</button>
          </form>
    </div>
    <div class="column-center">
      <h2>List of Caretakers</h2>
      <button>Show All</button>
      <button>Recommended</button>
      <button>Previously Transacted</button>

      <ul class="caretakers">
        <li *ngFor="let caretaker of caretakers" (click)="select(caretaker)">
          <div [ngClass]="selectedCaretaker != undefined && caretaker.id == selectedCaretaker.id ? 'selected': 'not-selected'">
            <table class="caretaker">
                <tr>
                <th> <h3>{{caretaker.name}}</h3></th>
                <td>Rating: {{caretaker.rating}}</td>
                <td>{{caretaker.type}}</td>
                <td><button (click)="showHide(caretaker)">Show Price</button><td>
              </tr>
            </table>
            <table class="pets">
              <tr *ngFor="let pet of caretaker.takesCare | keyvalue">
                <td>{{pet.key}}</td>
                <td>${{pet.value}}</td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedCaretaker != undefined" class="column-right">
      <h2>Availability of {{selectedCaretaker.name}}</h2>
      <button (click)="openMakeBid()">Bid Now/See More</button>
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
