<div class="content">
    <div class="column-left">
      <div class="form">
        <h2 style="margin-top: 5px;">List of Caretakers</h2>
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">

            <div class="text-bar">
              <p><label>Search For Caretaker:</label></p>
              <p> <input type="text" formControlName="substr"></p>
            </div>

            <div class="text-bar">
              <p><label>Caretaker Type: </label>
              <select type="text" formControlName="is_fulltime">
                  <option></option>
                  <option value=true>Full Time</option>
                  <option value=false>Part Time</option>
              </select></p>
            </div>

            <div class="text-bar" style="float:left; margin-right:10px;">
              <p><label>Date From:</label></p>
              <p><input type="date" formControlName="start_date"></p>
            </div>

            <div class="text-bar">
              <p><label>Date To:</label></p>
              <p><input type="date" formControlName="end_date"></p>
            </div>

            <div class="text-bar">
              <p><label>Type of Pet: </label>
              <select type="text" formControlName="pet_type">
                  <option></option>
                  <option *ngFor="let type of petTypes">
                      {{ type }}
                  </option>
              </select></p>
            </div>

            <div class="text-bar" style="float:left; margin-right:5px;">
              <p><label>Price From:</label></p>
              <p><input style="margin-right:10px" type="number" formControlName="min"></p>
            </div>

            <div class="text-bar">
              <p><label>Price To:</label></p>
              <p><input style="margin-right:10px" type="number" formControlName="max"></p>
            </div>

            <div class="text-bar">
              <p><label>Minimum Rating: </label>
              <input type="number" min="0" max="5" step="1" formControlName="rating"></p>
            </div>

            <button class="button" type="submit" [disabled] = "!filterForm.valid">Search</button>
          </form>
        </div>
    </div>
    <div class="column-center">
      <div class="list">
        <button (click)="getActiveCaretakers()" class="button button-margin" [ngClass]="typeOfList == '' ? 'selected': ''">Show All</button>
        <button *ngIf="isLogged" class="button button-margin" [ngClass]="typeOfList == 'Recommended' ? 'selected': ''"(click)="showRecommendedCaretakers()">Recommended</button>
        <button *ngIf="isLogged" class="button" [ngClass]="typeOfList == 'Previously Transacted' ? 'selected': ''" (click)="showTransactedCaretakers()">Previously Transacted</button>

        <div class="spacing"></div>

        <div class="container">
          <table>
            <tr>  
              <th class="theader">Name</th>
              <th class="theader">Rating</th>
              <th class="theader">Type</th>
              <th class="theader">Pet: Cost</th>
            </tr>

            <tr *ngFor="let caretaker of caretakers" (click)="select(caretaker)" [ngClass]="selectedCaretaker != undefined && caretaker.id == selectedCaretaker.id ? 'selected-c': 'not-selected'">
              <td>{{caretaker.name}}</td>
              <td>{{caretaker.rating}}</td>
              <td>{{caretaker.type}}</td>
              <th>
                <button (click)="showHide(caretaker)" *ngIf="caretaker.showTakeCare" class="hide-button">Hide</button>
                <button (click)="showHide(caretaker)" *ngIf="!caretaker.showTakeCare" class="show-button">Show</button>
                <table id="special-table">
                  <tr *ngFor="let pet of caretaker.takesCare">
                    <td>{{pet.species}}: ${{pet.daily_price}}</td>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="selectedCaretaker != undefined" class="column-right">
      <div class="calendar">
        <h2>Availability of {{selectedCaretaker.name}}</h2>
        <button (click)="openMakeBid()">Bid Now/See More</button>
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
</div>
