.content {
  background-color: #1e77aa;
  height: 95vh;
  width: 100%;
}

.column-left {
  width: 25%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 1%;
  float: left;
  word-wrap: break-word;
}

.form {
  border-style: solid;
  padding: 25px;
  padding-right: 0px;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
 }

.column-center {
  width: 30%;
  padding: 30px;
  padding-right: 1%;
  padding-bottom: 0px;
  float: left;
  word-wrap: break-word;
  padding-top: 2%;
}

.list {
  border-style: solid;
  padding: 25px;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
}

.column-right {
  width: 35%;
  padding-top: 2%;
  float: left;
  height: 90vh;
  overflow-y: auto;
}

.calendar {
  border-style: solid;
  padding: 30px;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
}


.text-bar {
  padding-bottom: 15px;
}


th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
  border: 2px solid rgb(175, 175, 175);
  border-collapse: collapse;
}

.theader {
  background-color: #429bce;
  color: white;
}

.button {
  transition-duration: 0.4s;
  font-size: 12px;
  background-color: #008CBA;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  outline: 0;
}

.button:hover {
  background-color: #e6e47e !important;
  /* Green */
  color: black;
}

.button-margin {
  margin-right: 5px;
}

.selected {
  background-color: #4CAF50 !important;
}

.spacing {
  padding: 10px;
}

tr:nth-child(even) {
  background: rgb(219, 219, 219);
}

tr:hover {
  background: rgb(255, 250, 182);
  cursor: pointer;
}

.selected-c {
  background: #e9bc79 !important;
}

.container {
  overflow-y: auto;
  height: 530px;
}

.show-button {
  width: 100%;
  background-color: #5eda62;
  border: none;
  color: white;
}

.hide-button {
  width: 100%;
  background-color: #eb756c;
  border: none;
  color: white;
}