 <div class="content">
    <p *ngIf="signUpSuccess">Signup Success. Login Now!</p>
    <p *ngIf="errorMessage!=''">{{errorMessage}}</p>
    <div class="content-box">
        <h1>Join Us!</h1>
        <p *ngIf="signUpForm.get('password_confirm').touched && signUpForm.hasError('notMatched')">Passwords do not match</p>
        <p *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched"> Not a valid email</p>

        <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
            <p>
                <label>Name: </label>
                <input type="text" formControlName="name">
            </p>
            <p>
                <label>Email: </label>
                <input type="email" formControlName="email" value=""  autocomplete="new-email">
            </p>
            <p>
                <label>Password: </label>
                <input type="password" formControlName="password" value=""  autocomplete="new-password">
            </p>
            <p>
                <label>Retype Password: </label>
                <input type="password" formControlName="password_confirm" value="">
            </p>
            <p>Signup As: </p>
            <input type="checkbox" id="po" formControlName="pet_owner" value="true">
            <label for="po">Pet Owner</label>
            <input type="checkbox" id="ct" formControlName="caretaker" value="true">
            <label for="ct">Caretaker</label><br>
            <div *ngIf="signUpForm.get('caretaker').value === true">
                <p>Type: </p>
                <input type="radio" id="pt" formControlName="caretaker_type" value="Part Time">
                <label for="pt">Part Time</label>
                <input type="radio" id="cf" formControlName="caretaker_type" value="Full Time">
                <label for="ft">Full Time</label><br>
            </div>
            <p>A Short Description of You: </p>
            <textarea formControlName="description" rows="4" cols="50"></textarea><br>
            <div class="buttons">
                <button class="button" type="button" (click)="openLogin()">Existing User</button>
                <button type="submit" [disabled]="!signUpForm.valid" (click)="onSubmitSignUp()">Submit</button>
            </div>
        </form>
    </div>
    <div id="photo-one">
        <img src="assets/img/leaves.jpg" width="500" >
    </div>
</div>
