.content {
  background-color: #1e77aa;
  height: 95vh;
  width: 100%;
}

.content-box {
  text-align: center;
  margin-top: 4%;
  z-index: 10;
  position: absolute;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  left: 28%;
  padding: 30px;
}

.buttons {
    padding-top: 10px;
}

.button {
    margin-right: 10px;
}

#photo-one {
  border-style: solid;
  padding: 20px;
  border-width: thin;
  box-shadow: 5px 5px 20px;
  background-color: #f8f8f8;
  width: 540px;
  position: absolute;
  top: 20%;
  left: 60%;
  transform: rotate(30deg);
  z-index: 5;
}