<div class="content">
  <div class="center">
    <div class="content-box">
      <h2>Caretaker Bids</h2>
      <button class="button button-margin" (click)="showAllBids()" [ngClass]="showType == '' ? 'selected': ''">Show All</button>
      <button class="button button-margin" (click)="showPendingBids()" [ngClass]="showType == 'Pending' ? 'selected': ''">Pending</button>
      <button class="button button-margin" (click)="showRejectedBids()" [ngClass]="showType == 'Rejected' ? 'selected': ''">Rejected</button>
      <button class="button button-margin" (click)="showDoneBids()" [ngClass]="showType == 'Done' ? 'selected': ''">Done</button>
      
      <div class="spacing"></div>
      <div class="container">
        <table>
          <tr> 
            <th class="theader">Pet Owner Name</th>
            <th class="theader">Pet Name</th>
            <th class="theader">Start Date</th>
            <th class="theader">End Date</th>
            <th class="theader">Payment Type</th>
            <th class="theader">Transfer Type</th>
            <th class="theader">Submission Time</th>
            <th class="theader">Amount Bidded / Day</th>
            <th class="theader">Status</th>
            <th class="theader">Paid?</th>
            <th class="theader">Rating</th>
            <th class="theader"></th>
          </tr>
          <tr *ngFor="let bid of bids">
            <td class="td-pads">{{bid.name}}</td>
            <td class="td-pads">{{bid.pet_name}}</td>
            <td class="td-pads">{{bid.start}}</td>
            <td class="td-pads">{{bid.end}}</td>
            <td class="td-pads">{{bid.payment_type}}</td>
            <td class="td-pads">{{bid.transfer}}</td>
            <td class="td-pads">{{bid.submission_time}}</td>
            <td class="td-pads">${{bid.amount_bidded}}</td>
            <td class="td-pads">{{bid.is_confirmed}}</td>
            <td class="td-pads">{{bid.is_paid}}</td>
            <td class="td-pads">{{bid.rating}}</td>
            <th>
              <div *ngIf="bid.is_confirmed === 'Pending'">
                <button (click)="acceptBid(bid)" class="accept-button">Accept</button>
                <button (click)="rejectBid(bid)" class="reject-button">Reject</button>
              </div>
              <button (click)="postPaid(bid)" class="accept-button" *ngIf="bid.is_confirmed ==='Confirmed' && bid.is_paid === 'Not Paid'">Set As Paid</button>
            </th>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>

