<div class="column-left">
    <form class="form" [formGroup]="filterForm" >

    <div class="text-bar">
      <p><label>Search For Pet Owner:</label></p>
      <p> <input type="text" formControlName="substr"></p>
    </div>

    <div class="text-bar" >
      <p><label>Date From:</label></p>
      <p><input type="date" formControlName="start_date"></p>
    </div>

    <div class="text-bar">
      <p><label>Date To:</label></p>
      <p><input type="date" formControlName="end_date"></p>
    </div>

    <div class="text-bar">
      <p><label>Type of Pet:</label></p>
      <p><input type="text" formControlName="pet_type"></p>
    </div>

    <div class="text-bar">
      <p><label>Price From:</label></p>
      <p><input style="margin-right:10px" type="number" formControlName="min"></p>
    </div>

    <div class="text-bar">
      <p><label>Price To:</label></p>
      <p><input style="margin-right:10px" type="number" formControlName="max"></p>
    </div>

    <button class="button" type="submit">Search</button>
  </form>
</div>
<div class="column-right">
    <h2>List of Bids (CareTaker)</h2>
    <button>Show All</button>
    <button>Pending</button>
    <button>Rejected</button>
    <button>Done</button>

    <table>
      <tr> 
        <th>Caretaker Name</th>
        <th>Pet Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Payment Type</th>
        <th>Transfer Type</th>
        <th>Submission Time</th>
        <th>Amount Bidded</th>
        <th>Confirmed?</th>
        <th>Paid?</th>
        <th>Rating</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let bid of bids">
        <td>{{bid.name}}</td>
        <td>{{bid.pet_name}}</td>
        <td>{{bid.start}}</td>
        <td>{{bid.end}}</td>
        <td>{{bid.payment_type}}</td>
        <td>{{bid.transfer_type}}</td>
        <td>{{bid.submission_time}}</td>
        <td>${{bid.amount_bidded}}</td>
        <td>{{bid.is_confirmed}}</td>
        <td>{{bid.is_paid}}</td>
        <td>{{bid.rating}}</td>
    
      </tr>
    </table>
</div>

