<div id="#content">
    <div class="column-left">
        <form class="form" [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">

            <div class="text-bar">
              <p><label>Search:</label></p>
              <p> <input type="text" formControlName="search"></p>
            </div>

            <div class="text-bar">
              <p><label>Date:</label></p>
              <p><input type="text" formControlName="date"></p>
            </div>

            <div class="text-bar">
              <p><label>Type of Pet:</label></p>
              <p><input type="text" formControlName="petType"></p>
            </div>
            <button class="button" type="submit">Search</button>
          </form>
    </div>
    <div class="column-right">
        <h2>List of Bids (CareTaker)</h2>
        <button>Show All</button>
        <button>Pending</button>
        <button>Rejected</button>
        <button>Done</button>
    </div>
</div>
