<div class="content">
  <div class="center"> 
      <div class="content-box">

        <h1>Forum</h1>
        <button type="button" (click)="addPost()">New Post</button>

        <div class="posts">
            <ul class="striations">
              <li *ngFor="let post of posts">
                <div (click)="openPost(post.post_id)">
                  <div class="post-title">{{post.title  | slice:0:30 }}</div>
                  <div class="post-desc">{{post.cont  | slice:0:30 }}</div>
                  <div class="post-author">Posted By: {{post.name || "[deleted user]"}} | Comments: {{post.count || 0}} </div>
                  <div class="post-author">Last Modified: {{post.last_modified}} </div>
                  <button type="button" (click)="delete(post)" class="delete-button" *ngIf="post.email == flatData.email || isPcsAdmin">Delete</button>
                </div>
              </li>
            </ul>
       
      </div>
  </div>
</div>