<div class="fixed-bg">
<div class="striations">
        <div class="post-title">Yolavnreo</div>
        <div class="post-desc">YolavnreoYolavnreo YolavnreoYolavnreoYolavnreoYolavnreoYolavnreoYolavnreoYolavnreo YolalavnreoYolavnreo vber ver ge fer dsfrefrfw4f wfw fewrf ew fewa fref awfewrafrwef </div>
    </div>

    <ul class="comments">
        <li *ngFor="let comment of fakeComments">
            <div class="comment-desc">{{comment.title}}</div>
            <div class="comment-author">Posted By: {{comment.name}}</div>
        </li>
    </ul>
      
</div>