<div>
    <full-calendar #calendar [options]="calendarOptions" style="width: 700px; margin: auto; margin-top: 5%;"></full-calendar>
</div>

<div *ngIf="caretakerType === 'Full Time'">
    <h2>Apply For Leave</h2>
    <p>You have chosen: {{form.get('start_date').value}} - {{form.get('end_date').value}}</p>
    <button (click)="onLeaveSubmit()">Submit</button>
</div>

<div *ngIf="caretakerType === 'Part Time'">
    <h2>Apply For Availability</h2>
    <p>You have chosen: {{form.get('start_date').value}} - {{form.get('end_date').value}}</p>
    <button (click)="onLeaveSubmit()">Submit</button>
</div>