<button (click)="getAllAdmins()">Admin</button>
<button (click)="getAllCaretakers()">Caretakers</button>
<button (click)="getAllPetOwners()">PetOwners</button>
<button (click)="getAllPetTypes()">PetTypes</button>


<h3>{{showType}}</h3>
<p>{{msg}}</p>
<div *ngIf="showType==='Caretakers'">
<button (click)="openNewCaretakerForm()">Add New Caretaker</button>
<table>
    <tr>
        <th>Caretaker Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Description</th>
        <th>Rating</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let caretaker of things">
        <td>{{caretaker.name}}</td>
        <td>{{caretaker.email}}</td>
        <td>{{caretaker.is_fulltime}}</td>
        <td>{{caretaker.description}}</td>
        <td>{{caretaker.rating}}</td>
        <th><button (click)="openMakeBid(caretaker)">Show Details/Availability</button></th>
        <th><button (click)="deleteUser(caretaker.email)">Delete</button></th>
    </tr>
</table>
</div>

<div *ngIf="showType==='Admins'">
<button (click)="openNewAdminForm()">Add New Admin</button>
<table>
    <tr>
        <th>Admin Name</th>
        <th>Email</th>
        <th>Description</th>
        <th></th>
    </tr>
    <tr *ngFor="let admin of things">
        <td>{{admin.name}}</td>
        <td>{{admin.email}}</td>
        <td>{{admin.description}}</td>
        <th><button (click)="deleteUser(admin.email)">Delete</button></th>
    </tr>
</table>
</div>

<div *ngIf="showType ==='Pet Types'">
<button (click)="openNewTypeForm()">Add New PetType</button>
<table>
    <tr>
        <th>Pet Type</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr *ngFor="let pt of things">
        <td>{{pt.species}}</td>
        <td>{{pt.count}}</td>
        <th><button>Delete</button></th>
    </tr>
</table>
</div>

<div *ngIf="showType==='Pet Owners'">
<table>
    <tr>
        <th>Pet Owner Name</th>
        <th>Email</th>
        <th>Description</th>
        <th></th>
    </tr>
    <tr *ngFor="let po of things">
        <td>{{po.name}}</td>
        <td>{{po.email}}</td>
        <td>{{po.description}}</td>
        <td>
            <button *ngIf="po.show" (click)="showHide(po)">Hide</button>
            <button *ngIf="!po.show" (click)="showHide(po)">Show Pets</button>
        <td>
        <table class="pets">
            <tr *ngFor="let pet of po.pets">
                <td>{{pet.pet_name}}</td>
                <td>{{pet.species}}</td>
            </tr>
        </table>
        <td><button (click)="deleteUser(po.email)">Delete</button></td>
    </tr>
</table>
</div>