 <div class="content"> 
    <div class="center"> 
        <div class="content-box">
            <h1>Manage Page</h1>

            <button class="button button-margin" (click)="getAllAdmins()" [ngClass]="showType == 'Admins' ? 'selected': ''">Admin</button>
            <button class="button button-margin" (click)="getAllCaretakers()" [ngClass]="showType == 'Caretakers' ? 'selected': ''">Caretakers</button>
            <button class="button button-margin" (click)="getAllPetOwners()" [ngClass]="showType == 'Pet Owners' ? 'selected': ''">PetOwners</button>
            <button class="button" (click)="getAllPetTypes()" [ngClass]="showType == 'Pet Types' ? 'selected': ''">PetTypes</button>


            <p>{{msg}}</p>
            <div *ngIf="showType==='Caretakers'">
                <button (click)="openNewCaretakerForm()">Add New Caretaker</button><br>
                <div style="text-align:center">
                    <button (click)="toggleDateLeft()" class="button-date"><</button>
                    <h2 style="display:inline-block">{{month}} {{year}}</h2>
                    <button (click)="toggleDateRight()" class="button-date">></button>
                </div>
                <input type="text" [(ngModel)]="searchValue"/>
                <div class="container">
                    <table>
                        <tr >
                            <th class="theader">Caretaker Name</th>
                            <th class="theader">Email</th>
                            <th class="theader">Type</th>
                            <th class="theader">Rating</th>
                            <th class="theader">Workdays</th>
                            <th class="theader">Salary</th>
                            <th class="theader">Profit</th>
                            <th class="theader"></th>
                        </tr>
                        <tr *ngFor="let caretaker of things | searchfilter: searchValue">
                            <td class="td-pads">{{caretaker.name}}</td>
                            <td class="td-pads">{{caretaker.email}}</td>
                            <td class="td-pads">{{caretaker.type}}</td>
                            <td class="td-pads">{{caretaker.rating}}</td>
                            <td class="td-pads">{{caretaker.getworkdays}}</td>
                            <td class="td-pads">${{caretaker.getsalary}}</td>
                            <td>
                                <div *ngIf="checkAboveZero(caretaker.profit)" style="color:green;">${{caretaker.profit}}</div>
                                <div *ngIf="checkBelowZero(caretaker.profit)" style="color:red;">${{caretaker.profit}}</div>
                                <div *ngIf="!checkBelowZero(caretaker.profit) && !checkAboveZero(caretaker.profit)">${{caretaker.profit}}</div>
                            </td>
                            <th width="10%"><button (click)="openMakeBid(caretaker)" class="show-button">Show More</button>
                            <button (click)="deleteUser(caretaker.email)" class="delete-button">Delete</button></th>
                        </tr>
                    </table>
                </div>
            </div>

            <div *ngIf="showType==='Admins'">
            <button (click)="openNewAdminForm()">Add New Admin</button><br>
            <input type="text" [(ngModel)]="searchValue"/>
            <div class="container">
            <table>
                <tr>
                    <th class="theader">Admin Name</th>
                    <th class="theader">Email</th>
                    <th class="theader">Description</th>
                    <th class="theader"></th>
                </tr>
                <tr *ngFor="let admin of things | searchfilter: searchValue">
                    <td class="td-pads">{{admin.name}}</td>
                    <td class="td-pads">{{admin.email}}</td>
                    <td class="td-pads">{{admin.description}}</td>
                    <th width="10%"><button (click)="deleteUser(admin.email)" class="delete-button">Delete</button></th>
                </tr>
            </table>
            </div>
            </div>

            <div *ngIf="showType ==='Pet Types'">
            <button (click)="openNewTypeForm()">Add New PetType</button>
            <div class="spacing"></div>
            <div class="container">
            <table>
                <tr>
                    <th class="theader">Pet Type</th>
                    <th class="theader">Base Price</th>
                    <th class="theader">Quantity</th>
                    <th class="theader"></th>
                </tr>
                <tr *ngFor="let pt of things">
                    <td class="td-pads">{{pt.species}}</td>
                    <td class="td-pads">${{pt.base_price}}</td>
                    <td class="td-pads">{{pt.count}}</td>
                    <th width="10%">
                        <button class="show-button" (click)=updateBasePrice(pt)>Update</button>
                        <button class="delete-button" (click)=deletePetType(pt.species)>Delete</button>
                    </th>
                </tr>
            </table>
            </div>
            </div>

            <div *ngIf="showType==='Pet Owners'">
            <input type="text" [(ngModel)]="searchValue"/>
            <div class="container">
            <table>
                <tr>
                    <th class="theader">Pet Owner Name</th>
                    <th class="theader">Email</th>
                    <th class="theader">Description</th>
                    <th class="theader"></th>
                </tr>
                <tr *ngFor="let po of things | searchfilter: searchValue">
                    <td class="td-pads">{{po.name}}</td>
                    <td class="td-pads">{{po.email}}</td>
                    <td class="td-pads">{{po.description}}</td>
                    <td style="text-align: center;" width="15%">
                        <button *ngIf="po.show" (click)="showHide(po)" class="delete-button">Hide</button>
                        <button *ngIf="!po.show" (click)="showHide(po)"  class="show-button">Show Pets</button>
                        <div *ngIf="po.show" class="smaller-container">
                            <div *ngFor="let pet of po.pets">
                                <span>{{pet.pet_name}} ({{pet.species}})
                                <button (click)="showDetailedPet(pet)">More</button></span>
                            </div>
                        </div>
                    <button (click)="deleteUser(po.email)" class="delete-button">Delete</button></td>
                </tr>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>